# Path to your WoW AddOns folder
# Windows example (WSL): /mnt/c/Program Files (x86)/World of Warcraft/_retail_/Interface/AddOns
# Mac example: /Applications/World of Warcraft/_retail_/Interface/AddOns
WOW_ADDONS_PATH=

# CurseForge API token for publishing
# Generate at https://authors.curseforge.com/account/api-tokens
CURSEFORGE_API_TOKEN=
